USE [cleaning_data_1]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 18-Jul-25 6:54:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[domain] [varchar](100) NULL
) ON [PRIMARY]
GO
